.opinion-form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #000000;
}

.opinion-form-message {
    color: #28a745; /* Verde para éxito */
    margin-bottom: 15px;
}

.opinion-form-message.error {
    color: #d32f2f; /* Rojo para error */
}

.opinion-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.opinion-form-label {
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000000;
}

.opinion-form-input,
.opinion-form-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #fff;
    color: #000000;
}

.opinion-form-textarea {
    resize: vertical;
    height: 120px;
}

.opinion-form-button {
    background-color: #57ba21;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px; /* Ajusta el espacio debajo del botón */
}

.opinion-form-button:hover {
    background-color: #4fcef8;
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button {
    margin-top: 15px;
}

button + button {
    margin-left: 10px;
}
