/* Main container for the product form */
.product-form-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}

/* Title styling */
h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 25px;
  font-weight: bold;
}

/* Message styling */
.product-form-message {
  color: #d32f2f;
  font-size: 1em;
  margin-bottom: 15px;
  text-align: center;
}

/* Input and select styling */
.product-form-container input[type="text"],
.product-form-container input[type="file"],
.product-form-container input[type="email"],
.product-form-container select,
.product-form-container input[type="number"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1em;
  color: #333;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.product-form-container input[type="text"]:focus,
.product-form-container select:focus,
.product-form-container input[type="number"]:focus {
  border-color: #57ba21;
  outline: none;
}

/* Styling for the "Seleccionar Archivo" button */
.product-form-button {
  background-color: #57ba21;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  width: fit-content;
}

/* Button hover effect */
.product-form-button:hover {
  background-color: #4fcef8;
  transform: translateY(-2px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

/* Remove photo button styling */
.product-form-button.remove-button {
  background-color: #f44336;
  color: white;
  padding: 5px 15px;
  margin-top: 10px;
}

.product-form-button.remove-button:hover {
  background-color: #d32f2f;
}

.product-form-message.success {
  color: #4CAF50; /* Verde para éxito */
}

.product-form-message.error {
  color: #d32f2f; /* Rojo para error */
}


/* Container for file-related buttons */
.file-button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}


/* Button container for "Registrar Producto" and "Regresar" */
.product-form-button-group {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between buttons */
  margin-top: 20px;
}
