/* Contenedor principal de los detalles del producto */
.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    width: 80%;
}

/* Imagen del producto */
.product-details-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Información del producto */
.product-details-info {
    text-align: center;
    line-height: 1.6;
    font-size: 1.2rem;
}

/* Botón para regresar */
.product-details-button {
    background-color: #FFC107;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover del botón */
.product-details-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
