.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    width: 80%;
}

.product-details-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-details-info {
    text-align: center;
    line-height: 1.6;
    font-size: 1.2rem;
}

.product-details-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFC107;
    border: none;
    padding: 15px 30px;
    margin: 10px auto;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.product-details-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.20);
}
